/*paleta de colores*/
/*  #352208 marron
    #e1bb80 marron claro
    #7b6b43 marron/verde
    #685634 mas oscuro que el de arriba
    # marron intermedio



/*css GENERALES */
@font-face {
    font-family: mi-fuente ;
    src: url();
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lora;
}


/* css header*/





body{
    background-image: url(../img/8f27f9bc-5e7a-448c-8279-d569e341d591.jpg);
    background-size: cover;
    background-position: center;
    font-weight: 700;
    

}
main{
    padding-left: 10%;
    padding-right: 10%;
}
/*CSS DEL HEADER*/
header{
    background-color:#685634cc;
}
header div{
    display: flex ;
    flex-direction: column;
    align-items: center;
    
}
.logo{
    width: 30% ;
    display: flex;
    justify-content: center;
}

.navbar-toggler:hover{
    background-color: #e1bb80cc;
    
}

body main{
    background-color: #e1bb80cc;
    padding-bottom: 10px;
}
.img-index {
    border: 2px solid black;
    width: 90%;
    height: auto;
}

.contenedor-img-index {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1-index p {
   padding-top: 20px;
}
.video{
    display: block;
    width: 40%;
    height: auto;
    margin: 0 auto;
    border: 2px solid black;
}



/*actividades*/

.section1-actividades p {
    display: flex;
    padding-top: 40px;
}

.logo-actividades{
    width: 30%;
    height: auto;
    display: block; 
    margin: 0 auto; 
    
}

/*imagenes*/
.img-carrusel {
    width: 100%;
    height: 40%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);  
  grid-gap: 10px; 
}

.grid-item {
  width: 100%;
  height: auto;
  max-width: 100%; 
  max-height: 100vh;
  border: solid 3px black;
}

.h1-formulario {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-formulario {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.button-formulario:hover {
    background-color: #218838;
}

/*como llegar*/
.mapa{
    height: 40%;
    width: 40%;
}

.marcador-mapa{
    width: 50px;
    height: auto;

}
.container-como-llegar{
   
}
.foto-como-llegar{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    
}


.contenedor-mapa {
    display: flex;
     flex-direction: column;
    align-items: center;
     justify-content: center;
        }



        /*contacto*/

.img-contacto{
            width: 40%;
            height: auto;
            border: 2px solid black;
            margin-top: 20px;

        }
.contenedor-img-contacto{
    display: flex;
        justify-content: center;
        align-items: center;
}   
        
        
        
.grid-container-contacto {
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 20px; 
   padding: 20px; 
    
}

.grid-item-contacto {
    text-align: center; 
}

.grid-item-contacto img {
    width: 40%;
    height: auto;
}
.grid-item-contacto img:hover{
    width: 50%;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #218838;
}

/*footer*/
footer{
    display: flex;
    background-color: #685634cc;
    color: black;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;

}
.logo-footer{
    height: 14px;
    width: auto;
    padding-right: 5px;
}
.logop-footer{
    height: 20px;
    width: 20px;


}



/*mq a desktop*/

@media screen and (min-width:1200px){

.logo{
    width: 17%;
}

main {
         padding-left: 20%;
        padding-right: 20%;
}
    
.grid-container{  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,20%);
    gap: 10px;
}

.grid-container-contacto{
    grid-template-columns: repeat(4,1fr);
}

.mapa {
    height: 60%;
    width: 60%;
    border: solid 3px black;


}
.logo-actividades {
    width: 15%;
    height: auto;

}


}