@import "html/reset";
@import "html/index";
@import "html/actividades";
@import "html/como-llegar";
@import "html/contacto";
@import "html/imagenes";
@import"html/mq";


@import "utilidades/variables";



/*paleta de colores 
#352208 marron 
#e1bb80 marron claro 
#7b6b43 marronverde 
#685634 mas oscuro que el de arriba 
# marron intermedio
*/


/*css del header*/

header {
    background-color: $color-de-fondo;
    div {
         display: flex;
         flex-direction: column;
         align-items: center;
        .logo {
                width: 30%;
                display: flex;
                justify-content: center;
            }
        h1{
            font-size: 37px;
            color: black;
        }

        }

}
.nav-link:hover{
    border-radius: 30px;
    background-color: $color-de-fondo-main;
}
.navbar-toggler:hover {
    background-color :$color-de-fondo-main;

}

.navbar-nav{
    font-size: 20px;
    
    
}



main {
    background-color:$color-de-fondo-main;
    padding-bottom: 10px;
}




/*footer*/ 
footer {
    display :flex;
    background-color :$color-de-fondo;
    color :black;
    justify-content :space-between;
    padding-left :5px;
    padding-right :5px;
    .logop-footer {
            height: 20px;
            width: 20px;
    
    
        }
    section{
        a{
            .logo-footer {
                    height: 14px;
                    width: auto;
                    padding-right: 5px;
                }

        }
    }

}
