/*actividades*/
.section1-actividades {
    p {
        display: flex;
        padding-top: 40px;
    }

    .logo-actividades {
        display: block;
        margin: 0 auto;
        width: 30%;
        height: auto;
        

    }

}