@import"../utilidades/extend.scss";



.container-como-llegar{
    padding-top: 10%;
    .foto-como-llegar {
            display: block;
            margin: 0 auto;
            width: 70%;
            height: auto;
            @extend %border;
    
        }

}


.contenedor-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .mapa {
        height: 40%;
        width: 40%;
        
    }

    a {
        .marcador-mapa {
            width: 50px;
            height: auto;

        }
    }
}