
@media screen and (min-width:600px){
    .grid-container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 20%);
            gap: 10px;
        }
    .grid-item-contacto img{
        height: 150px;
        width: auto;
    }
    
              
    
}
    




@media screen and (min-width:1200px) {
    .navbar-nav {
        padding: 40px;

        }


    .contenedor-logo {
        width: 47%;
    }

    main {
        padding-left: 20%;
        padding-right: 20%;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 20%);
        gap: 10px;
    }

    .grid-container-contacto {
        grid-template-columns: repeat(4, 1fr);
    }

    .mapa {
        height: 60%;
        width: 60%;

    }

    .logo-actividades {
        width: 15%;
        height: auto;

    }


}


